<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Server = localhost; Database = BotDB;User Id=SA;Password=AvisaT53@;" name="LocalDB"/>
		<add connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\ntwdc\source\repos\TelegramBot\TelegramBot\TelegramBotDB.mdf;Integrated Security=True" name="debugDB"/>
		<add connectionString="6181768808:AAEPMUlSlb5fYECXKTxvQwD0f2ORDU9LoXY" name="releaseToken"/>
		<add connectionString="6206880800:AAEJhQglpNQApcq0w0wmJR8IgnI_QXmMKvM" name ="debugToken"/>
	</connectionStrings>
</configuration>