<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=C:\\Users\\ntwdc\\source\\repos\\TelegramBot\\TelegramBot\\TelegramBotDB.mdf;Integrated Security=True" name="LocalDB"/>
		<add connectionString="6181768808:AAEPMUlSlb5fYECXKTxvQwD0f2ORDU9LoXY" name="token"/>
	</connectionStrings>
</configuration>